<mat-card [class.def]="isDef1" >Stage 1</mat-card>
<mat-card [class.def]="isDef2">Stage 2</mat-card>
<mat-card [class.def]="isDef3">Stage 3</mat-card>
<mat-card [class.def]="isDef4">Stage 4</mat-card>
<mat-card [class.def]="isDef5">Stage 5</mat-card>