mat-card{
    background-color: rgb(59, 252, 59);
    /* background-color: rgb(252, 59, 59); */
    margin: 20px;
    width: 150px;
    height: 150px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 55px;
}

.def {
    background-color: blueviolet;
}