<mat-toolbar color="primary">Real Time Dashboard | Team RxH5</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened class="example-sidenav" [fixedInViewport]="true">
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard"><mat-icon>dashboard</mat-icon>&nbsp; Dashboard</a>
      <a mat-list-item routerLink="/reports"><mat-icon>bar_chart</mat-icon>&nbsp; Reports</a>
      <a mat-list-item routerLink="/employeeReports"><mat-icon>table_chart</mat-icon>&nbsp; Employee Reports</a>
      <a mat-list-item routerLink="/diagnosis"><mat-icon>report_problem</mat-icon>&nbsp; Diagnosis</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
