.example-container {
  position: fixed;
  margin-top: 80px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-sidenav {
  position: fixed;
  margin-top: 80px;
  width: 240px;
  background: rgb(231, 231, 231);
}

mat-nav-list a{
  font-size: 18px;
}

mat-toolbar{
  font-size: 25px;
  height: 80px;
}