<div>
  <form class="container">
    <div>
      <mat-form-field class="in" appearance="outline">
          <mat-label>From date</mat-label>
        <input #startAt matInput [matDatepicker]="fromDate">
        <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
        <mat-datepicker #fromDate></mat-datepicker>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="in" appearance="outline">
          <mat-label>To date</mat-label>
        <input #endAt matInput [matDatepicker]="toDate">
        <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
        <mat-datepicker #toDate></mat-datepicker>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="in" appearance="outline">
          <mat-label>Stage</mat-label>
        <mat-select #stage>
          <mat-option *ngFor="let stage of stages" [value]="stage.value">
            {{stage.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="in" appearance="outline">
        <mat-label>Period</mat-label>
        <mat-select #period>
          <mat-option *ngFor="let period of periods" [value]="period.value">
            {{period.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="in" appearance="outline">
        <mat-label>Employee Name</mat-label>
        <input #employ matInput>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="in" appearance="outline">
        <mat-label>Manager Name</mat-label>
        <input #manager matInput>
      </mat-form-field>
    </div>
  </form>
</div>
<div>
  <button id="btn" mat-flat-button (click)="getValues(startAt.value, endAt.value, stage.value, period.value, employ.value, manager.value)">Generate</button>
</div>

<div class="row">
  <mat-card class="dcard col-md-12">
    <mat-card-header>
      <mat-card-title>
        <h1>Process rate</h1>
      </mat-card-title>
    </mat-card-header>
    <div *ngIf="chart1">
      <canvas id="report1">{{ chart1 }}</canvas>
    </div>
  </mat-card>
</div>
<div class="row">
  <mat-card class="dcard col-md-12">
    <mat-card-header>
      <mat-card-title>
        <h1>Defect rate</h1>
      </mat-card-title>
    </mat-card-header>
    <div *ngIf="chart2">
      <canvas id="report2">{{ chart2 }}</canvas>
    </div>
  </mat-card>
</div>