<div class="container">
    <div class="row">
      <mat-card class="dcard col-md-12">
        <mat-card-header>
          <mat-card-title>
            <h1>Stage {{stage}}</h1>
          </mat-card-title>
        </mat-card-header>
        <div *ngIf="chart">
          <canvas id="canvas{{stage}}">{{ chart }}</canvas>
        </div>
      </mat-card>
    </div>
  </div>
  