table {
    width: 500px;
    margin: 20px;
  }

mat-list mat-list-item{
  margin-left: 20px;
}

mat-label {
  font-size: 20px;
  margin: 20px;
}

.in{
  margin: 20px 20px 0px 20px;
  width: 240px;
}

#dateLabel{
  font-size: 15px;
}

#btn{
  margin: 0px 20px 20px 85px;
  width: 100px;
  padding: 10px;
  font-size: 15px;
}