<div>
  <mat-form-field class="in" appearance="outline">
    <mat-label id="dateLabel">Select Date</mat-label>
    <input #date matInput [matDatepicker]="datePick">
    <mat-datepicker-toggle matSuffix [for]="datePick"></mat-datepicker-toggle>
    <mat-datepicker #datePick></mat-datepicker>
  </mat-form-field>
</div>

<button id="btn" mat-flat-button (click)="getValues(date.value)">Get Reports</button>

<div>
  <mat-label>Employees and their data</mat-label>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Employee ID </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="productionAverage">
      <th mat-header-cell *matHeaderCellDef> Production Average </th>
      <td mat-cell *matCellDef="let element"> {{element.processAverage}} </td>
    </ng-container>

    <ng-container matColumnDef="defectsAverage">
      <th mat-header-cell *matHeaderCellDef> Defects Average </th>
      <td mat-cell *matCellDef="let element"> {{element.defectAverage}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div>
  <mat-list role="list">
    <mat-label>Employees whose production average is below 70%</mat-label>
    <a mat-list-item *ngFor="let belowEmployee of belowEmployees"></a>
  </mat-list>
</div>

<div>
  <mat-list role="list">
    <mat-label>Employees whose defects rate is above 20%</mat-label>
    <a mat-list-item *ngFor="let aboveEmployee of aboveEmployees"></a>
  </mat-list>
</div>