<!--<h3 class="card-title">{{rate.processRate | async}}</h3>-->
<!-- <div class="container">
  <div class="row">
    <mat-card class="dcard col-md-5">
      <mat-card-header>
        <h1>{{ rate | async }}</h1>
      </mat-card-header>
    </mat-card>
    <div class="col-md-2"></div>
    <mat-card class="dcard col-md-5">
      <mat-card-header>
        <h1>{{ defects | async }}</h1>
      </mat-card-header>
    </mat-card>
  </div>
</div> -->
<!-- <div>{{ subscription | async }}</div> -->

<app-stage [stage]=1></app-stage>
<app-stage [stage]=2></app-stage>
<app-stage [stage]=3></app-stage>
<app-stage [stage]=4></app-stage>
<app-stage [stage]=5></app-stage>
